/* 25-MEDIA-MIDSIZE, 24-MEDIA-NARROW */

#header .user .open a:focus {
  color: #95c6f4;
}

#outer {
  background: #333;
}

#dashboard .secondary {
  background: #282828;
    box-shadow: 1px 1px 3px #000;
}

.javascript {
  background: #282828;
}

.javascript form.filters fieldset,
.javascript form.filters dl {
  background: transparent;
}
