<nav id="dashboard" class="admin region" aria-labelledby="dashboard-nav-heading">
  <h3 class="landmark heading" id="dashboard-nav-heading"><%= controller.action_name == "show" ? t(".heading.recent") : t(".heading.summary") %></h3>
  <ul class="navigation actions">
    <% @admin_posts.each do |admin_post| %>
      <li><%= span_if_current admin_post.title.html_safe + " (#{admin_post.count_visible_comments})", admin_post %></li>
    <% end %>
  </ul>
</nav>
