<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Send Invitation to Email") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render 'create_invitation_form' %>
<!--/content-->

<!--subnav-->
<!--/subnav-->
