/*==CORE:basic functional layout
http://otwcode.github.com/docs/front_end_coding/css-shorthand*/

:root {
  --color-background: #fff;
  --color-text: #2a2a2a;
  --color-link: #111;

  --color-logo: #900;
  --color-logo-contrast: #fff;

  --color-accent-1: #f3efec;
  --color-accent-2: #ededed;
  --color-accent-3: #eee;
  --color-accent-4: #ddd;
  --color-accent-5: #ccc;

  --color-header: #900;
  --color-header-text: #fff;
  --color-header-menu: #ddd;
  --color-header-menu-text: #111;
  --gradient-header-menu: linear-gradient(to bottom, rgba(221, 221, 221, 0.98) 0%, rgba(204, 204, 204, 0.98) 100%);
  --image-header: url("/images/skins/textures/tiles/red-ao3.png");

  --color-interaction: #ddd;
  --color-interaction-border: #f3efec;
  --shadow-interaction: inset 1px 0 5px #999;

  --color-action: #eee;
  --color-action-text: #444;
  --color-action-visited-text: #111;
  --color-action-hover-text: #900;
  --color-action-hover-border: #999;
  --color-action-current: #ccc;
  --color-action-current-border: #fff;
  --color-action-border: #bbb;
  --color-action-border-bottom: #aaa;
  --gradient-action: linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
  --shadow-action: none;
  --shadow-action-current: inset 1px 1px 3px #333;
  --shadow-action-hover: inset 2px 2px 2px #bbb;

  --color-listbox: #ddd;
  --color-listbox-index: #fff;
  --shadow-listbox: 0 0 0 1px #fff;
  --shadow-listbox-blurb: none;
  --shadow-listbox-index: inset 1px 1px 3px #bbb;
}

/* Reversi! */
@media only screen and (max-width: 75em) {
  :root {
    --color-background: #333;
    --color-text: #eee;
    --color-link: #fff;

    --color-logo: #5998D6;
    --color-logo-contrast: #111;

    --color-accent-1: #555;
    --color-accent-2: #2c2c2c;
    --color-accent-3: #2a2a2a;
    --color-accent-4: #555;
    --color-accent-5: #555;

    --color-header: #555;
    --color-header-text: #fff;
    --color-header-menu: #2a2a2a;
    --color-header-menu-text: #fff;
    --gradient-header-menu: none;
    --image-header: url("/images/skins/textures/tiles/black-noise.jpg");

    --color-interaction: #333;
    --color-interaction-border: #222;
    --shadow-interaction: none;

    --color-action: #555;
    --color-action-text: #eee;
    --color-action-visited-text: #999;
    --color-action-hover-text: #999;
    --color-action-hover-border: #000;
    --color-action-current: #000;
    --color-action-current-border: #555;
    --color-action-border: #222;
    --color-action-border-bottom: #222;
    --gradient-action: none;
    --shadow-action: inset 0 -8px 4px #232323, inset 0 8px 7px #555;
    --shadow-action-current: -1px -1px 3px #000;
    --shadow-action-hover: inset 2px 2px 2px #000;

    --color-listbox: #2a2a2a;
    --color-listbox-index: #2a2a2a;
    --shadow-listbox: 1px 1px 3px #000;
    --shadow-listbox-blurb: 1px 1px 3px #000;
    --shadow-listbox-index: inset 1px 1px 3px #000;
  }
}

body, .toggled form, .dynamic form, .secondary, .dropdown {
  background: #fff;
  background: var(--color-background);
  color: #2a2a2a;
  color: var(--color-text);
  font: 100%/1.125 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: Georgia, serif;
}

a, a:link {
  color: #900;
  color: var(--color-logo);
  text-decoration: none;
}

#header, #footer, #main, #dashboard {
  padding: 1em 3em;
}

.landmark {
  font-size: 0;
  opacity: 0;
}

.hidden {
  display: none;
}

li.blurb, fieldset, form dl {
  border: 1px solid #ddd;
  border: 1px solid var(--color-accent-4);
  padding: 1em;
  overflow: hidden;
}

.blurb li, .actions>*, .stats>*, .meta ul li {
  list-style: none;
  display: inline;
  padding-left: 0.25em;
}

.actions form {
  display: inline;
}

.actions input[type="submit"] {
  margin: 0;
}

/*END== */