/*==CORE:basic functional layout
http://otwcode.github.com/docs/front_end_coding/css-shorthand*/

:root {
  --color-background: #fff;
  --color-text: #2a2a2a;

  --color-header: #900;
  --color-header-text: #fff;
  --color-header-menu: #ddd;
  --color-header-menu-text: #111;
  --gradient-header-menu: linear-gradient(to bottom, rgba(221, 221, 221, 0.98) 0%, rgba(204, 204, 204, 0.98) 100%;
  --image-header: url("/images/skins/textures/tiles/red-ao3.png");

  --color-action: #eee;
  --color-action-text: #444;
  --color-action-visited-text: #111;
  --color-action-hover-text: #900;
  --color-action-hover-border: #999;
  --color-action-current: #ccc;
  --color-action-current-border: #fff;
  --color-action-border: #bbb;
  --color-action-border-bottom: #aaa;
  --gradient-action: linear-gradient(#fff 2%, #ddd 95%, #bbb 100%);
  --shadow-action-current: inset 1px 1px 3px #333;
}

body, .toggled form, .dynamic form, .secondary, .dropdown {
  background: var(--color-background);
  color: var(--color-text);
  font: 100%/1.125 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: Georgia, serif;
}

a, a:link {
  color: var(--color-header);
  text-decoration: none;
}

#header, #footer, #main, #dashboard {
  padding: 1em 3em;
}

.landmark {
  font-size: 0;
  opacity: 0;
}

.hidden {
  display: none;
}

li.blurb, fieldset, form dl {
  border: 1px solid #ddd;
  padding: 1em;
  overflow: hidden;
}

.blurb li, .actions>*, .stats>*, .meta ul li {
  list-style: none;
  display: inline;
  padding-left: 0.25em;
}

.actions form {
  display: inline;
}

.actions input[type="submit"] {
  margin: 0;
}

/*END== */