/*==ACTIONS: buttons!
http://otwcode.github.com/docs/front_end_coding/patterns/actions
subtypes:
.action, .navigation, .sorting, .submit, .cancel, .close, .delete, .pagination, .current, .landmark, #skiplinks
input[type="submit"], button
*/

.actions * {
  display: inline;
}

ul.actions, p.actions, li.actions, span.actions, fieldset.actions, dd.actions {
  padding: 0.429em 0.25em 0.25em 0;
  float: right;
  text-align: center;
}

ul.actions {
  padding-bottom: 0;
  padding-top: 0;
}

.actions a, .actions a:link, .action, .action:link, .actions input, input[type="submit"], button, .current, .actions label {
  background: var(--color-action) var(--gradient-action);
  color: var(--color-action-text);
  width: auto;
  font-size: 100%;
  line-height: 1.286;
  height: 1.286em;
  vertical-align: middle;
  display: inline-block;
  padding: 0.25em 0.75em;
  white-space: nowrap;
  overflow: visible;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid var(--color-action-border);
  border-bottom: 1px solid var(--color-action-border-bottom);
    border-radius: 0.25em;
    box-shadow: none;
}

button {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  box-sizing: content-box;
}

label.action {
  padding: 0.15em 0.375em;
}

input[type="submit"] {
  height: auto;
  white-space: normal;
}

p.submit, input.submit, dd.submit {
  text-align: right;
}

.actions input.text, .actions input[type="text"] {
  cursor: text;
}

.actions input[type="checkbox"] {
  background: transparent;
  border: none;
  padding: 0;
}

/*subtypes and modes
test note: this pagination clear needs to be kept an eye on*/

ol.pagination, div.pagination, ol.year {
  text-align: center;
  clear: right;
  margin: 0.643em auto;
}

.actions a:visited, .action:visited, .action a:link, .action a:visited {
  color: var(--color-action-visited-text);
}

.actions a:hover, .actions input:hover, .actions a:focus, .actions input:focus, label.action:hover, .action:hover, .action:focus {
  color: var(--color-action-hover-text);
  border-top: 1px solid var(--color-action-hover-border);
  border-left: 1px solid var(--color-action-hover-border);
    box-shadow: inset 2px 2px 2px var(--color-action-border-bottom);
}

.actions a:active, .current, a.current, a:link.current, .current a:visited {
  color: var(--color-action-visited-text);
  background: var(--color-action-current);
  border-color: var(--color-action-current-border);
    box-shadow: var(--shadow-action-current);
}

.actions label.disabled {
  background: var(--color-action-current);
}

.actions li a, .actions li input, .actions li input[type="submit"], .actions li .current, .actions li label {
  margin: 0.375em auto;
}

.delete a, span.delete {
  border: 0;
  color: var(--color-header);
  font-weight: 900;
  margin-right: 0.375em;
  padding: 0 0.1em 0.15em;
  cursor: pointer;
    box-shadow: -1px -1px 2px rgba(0,0,0,0.75);
    border-radius: 0.875em;
}

span.delete a {
  margin: 0 0.2em;
    box-shadow: none;
}

ul#skiplinks, .landmark, .landmark a, .index .heading.landmark {
  font-size: 0;
  line-height: 0;
  height: 0;
  margin: 0;
  clear: both;
  color: transparent;
    opacity: 0;
}

.secondary {
  background: var(--color-background);
  position: absolute;
  z-index: 99;
  border: 2px solid (--color-action-border);
  margin: auto;
  padding: 0 0.375em;
  overflow: hidden;
  right: 2.5em;
    box-shadow: 2px 2px 5px #bbb;
    border-radius: 0.15em;
}

/* CONTEXTS */

.heading .actions, .heading .action, .heading span.actions {
  height: auto;
  font: 100 75%/1.286 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  padding: 0.15em 0.375em;
}

th .actions, td .actions {
  float: none;
}

dl.stats + .landmark + .actions {
  clear: none;
  float: left;
  margin: 0 auto;
}

.actions .secondary .submit, .nomination .actions {
  float: none;
}

.chapter .secondary, .download .secondary {
  top: 3.5em;
}

.dashboard .landmark {
  clear: right;
}

.actions .landmark {
  clear: none;
}

.actions a.symbol, .action a {
  border: 0;
  background: none;
  padding: 0 0 0.15em 0;
}

.many p.actions {
  float: none;
  text-align: right;
}

.concise label.action {
  float: left;
}

dd.any label.action {
  margin-left: 0.5625em;
}

dl.index p.actions {
  margin: 0;
}

/*END== */
