/*==GROUP: BLURB
http://otwcode.github.com/docs/front_end_coding/patterns/blurb
The blurb class is used wherever we show a list of works, collections, bookmarks, etc; each list item is a blurb
it shows all the tags, stats and other associations we hold on that object, and sometimes it shows short user notes too, like a summary, bookmark notes, or collection description.

Intrepid skinsers: 
Probably 40% of this sheet deals with icon block rules, but it's not very complicated, 
just the same thing repeated for each icon. 
The positioning and sizing is for 25px icons; 
there is a full set available at 50px, in /default_large.
You can use your own icon set, or choose to show the text instead, 
by overriding the rules in the marked off section.
Perhaps we can make a wizard for this specific task.
*/

.blurb ul li, .blurb dd ul li {
  display: inline;
}

li.blurb, .blurb .blurb {
  display: block;
  position: relative;
  clear: left;
  padding: 0.429em 0.75em;
  overflow: visible;
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 0.15em;
}

li.blurb:after, .blurb .blurb:after {
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.blurb .module {
  float: none;
}

.blurb .header {
  min-height: 55px;
  margin-bottom: 0.375em;
}

.blurb .header .heading, .blurb .header ul {
  display: block;
  background: transparent;
  margin: 0.375em 5.25em 0 65px;
}

.blurb .header img {
  position: relative;
  margin: 0;
}

.blurb h4 a:link, .blurb h4 img {
  color: #900;
  vertical-align: bottom;
}

.blurb .header p.notice, .blurb ul.series {
  margin: 1.25em 0 0;
}

.blurb ul.series {
  margin-bottom: 0.875em;
}

.blurb .heading {
  display: block;
}

.blurb dl.stats {
  float: right;
}

.blurb .fandoms .landmark {
  position: absolute;
}

.blurb dl.stats + .heading.landmark { 
  display: inline;
}

/* ==START icon block rules*/

.blurb ul.required-tags {
  position: absolute;
  top: 0;
  width: 60px;
  margin: 0;
}

.blurb ul.required-tags li, .blurb ul.required-tags li a, .blurb ul.required-tags li span {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.blurb ul.required-tags li {
  margin-bottom: 3px;
}

.blurb ul.required-tags li+li+li, .blurb ul.required-tags li+li+li+li {
  position: absolute;
  left: 28px;
}

.blurb ul.required-tags li+li+li {
  top: 0;
}

.blurb ul.required-tags li+li+li+li {
  top: 28px;
}

/* keeps the outline to the proper size in Firefox and Opera */
.blurb ul.required-tags li a:focus {
  overflow: hidden;
}

.blurb span.text {
  height: 0;
  width: 0;
  font-size: 0.001em;
  color: transparent;
}

.blurb ul.required-tags li span {
  background-repeat: no-repeat;
}

/*icon image replacement*/

.required-tags .text,
.bookmark .status .text {
  color: transparent;
  font-size: 0;
  visibility: hidden;
}

.required-tags .rating:after,
.required-tags .warnings:after,
.required-tags .category:before,
.required-tags .category:after,
.required-tags .iswip:after,
.required-tags .external-work:after,
.bookmark .status .public:after,
.bookmark .status .private:after,
.bookmark .status .rec:after,
.bookmark .status .count a {
  background-size: 25px 25px;
  display: block;
  color: #fff;
  content: " ";
  font-size: 16px;
  font-weight: 500;
  height: 25px;
  line-height: 25px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 25px;
}

.required-tags .warnings:after {
  top: 28px;
}

/* off white: not rated, no warning, no category, bookmark count */
.required-tags .rating-notrated, .required-tags .warning-no, .required-tags .category-none, .status .count a {
  background: #e4e3df;
  background-image: -moz-linear-gradient(top, #ebebe9 0%, #fffffb 100%);
  background-image: -webkit-linear-gradient(top, #ebebe9 0%, #fffffb 100%);
  background-image: -o-linear-gradient(top, #ebebe9 0%, #fffffb 100%);
  background-image: -ms-linear-gradient(top, #ebebe9 0%, #fffffb 100%);
  background-image: linear-gradient(to bottom, #ebebe9 0%, #fffffb 100%);
    box-shadow: inset 0 0 0 1px #e4e3df;
}

/* green: general audiences gen, complete */
.required-tags .rating-general-audience, .required-tags .category-gen, .required-tags .complete-yes {
  background: #78a700;
  background-image: -moz-linear-gradient(top, #92cb01 0%, #78a700 100%);
  background-image: -webkit-linear-gradient(top, #92cb01 0%, #78a700 100%);
  background-image: -o-linear-gradient(top, #92cb01 0%, #78a700 100%);
  background-image: -ms-linear-gradient(top, #92cb01 0%, #78a700 100%);
  background-image: linear-gradient(to bottom, #92cb01 0%, #78a700 100%);
    box-shadow: inset 0 0 0 1px #78a700;
}

/* red: explicit, has warnings, incomplete */
.required-tags .rating-explicit, .required-tags .warning-yes, .required-tags .complete-no {
  background: #900;
  background-image: -moz-linear-gradient(top, #b30000 1%, #900 100%);
  background-image: -webkit-linear-gradient(top, #b30000 1%, #900 100%);
  background-image: -o-linear-gradient(top, #b30000 1%, #900 100%);
  background-image: -ms-linear-gradient(top, #b30000 1%, #900 100%);
  background-image: linear-gradient(to bottom, #b30000 1%, #900 100%);
    box-shadow: inset 0 0 0 1px #900;
}

/* orange: mature, chose not to warn */
.required-tags .rating-mature, .required-tags .warning-choosenotto {
  background: #e67300;
  background-image: -moz-linear-gradient(top, #f38f2a 0%, #e67300 100%);
  background-image: -webkit-linear-gradient(top, #f38f2a 0%, #e67300 100%);
  background-image: -o-linear-gradient(top, #f38f2a 0%, #e67300 100%);
  background-image: -ms-linear-gradient(top, #f38f2a 0%, #e67300 100%);
  background-image: linear-gradient(to bottom, #f38f2a 0%, #e67300 100%);
    box-shadow: inset 0 0 0 1px #e67300;
}

/* purple: f/m */
.required-tags .category-het {
  background: #6c004b;
  background-image: -moz-linear-gradient(top, #9d127f 0%, #6c004b 100%);
  background-image: -webkit-linear-gradient(top, #9d127f 0%, #6c004b 100%);
  background-image: -o-linear-gradient(top, #9d127f 0%, #6c004b 100%);
  background-image: -ms-linear-gradient(top, #9d127f 0%, #6c004b 100%);
  background-image: linear-gradient(to bottom, #9d127f 0%, #6c004b 100%);
    box-shadow: inset 0 0 0 1px #6c004b;
}

/* blue: m/m */
.required-tags .category-slash {
  background: #0043a7;
  background-image: -moz-linear-gradient(top, #0057da 0%, #0043a7 100%);
  background-image: -webkit-linear-gradient(top, #0057da 0%, #0043a7 100%);
  background-image: -o-linear-gradient(top, #0057da 0%, #0043a7 100%);
  background-image: -ms-linear-gradient(top, #0057da 0%, #0043a7 100%);
  background-image: linear-gradient(to bottom, #0057da 0%, #0043a7 100%);
    box-shadow: inset 0 0 0 1px #0043a7;
}

/* pink: femslash */
.required-tags .category-femslash {
  background: #a60027;
  background-image: -moz-linear-gradient(top, #e31042 0%, #a60027 100%);
  background-image: -webkit-linear-gradient(top, #e31042 0%, #a60027 100%);
  background-image: -o-linear-gradient(top, #e31042 0%, #a60027 100%);
  background-image: -ms-linear-gradient(top, #e31042 0%, #a60027 100%);
  background-image: linear-gradient(to bottom, #e31042 0%, #a60027 100%);
    box-shadow: inset 0 0 0 1px #a60027;
}

/* yellow: teen */
.required-tags .rating-teen {
  background: #dbc902;
  background-image: -moz-linear-gradient(top, #f5e42a 0%, #dbc902 100%);
  background-image: -webkit-linear-gradient(top, #f5e42a 0%, #dbc902 100%);
  background-image: -o-linear-gradient(top, #f5e42a 0%, #dbc902 100%);
  background-image: -ms-linear-gradient(top, #f5e42a 0%, #dbc902 100%);
  background-image: linear-gradient(to bottom, #f5e42a 0%, #dbc902 100%);
    box-shadow: inset 0 0 0 1px #dbc902;
}

/* medium blue: bookmarks */
.required-tags .external-work, .status .rec, .status .private, .status .public {
  background: #04659c;
  background-image: -moz-linear-gradient(top, #1483c3 0%, #04659c 100%);
  background-image: -webkit-linear-gradient(top, #1483c3 0%, #04659c 100%);
  background-image: -o-linear-gradient(top, #1483c3 0%, #04659c 100%);
  background-image: -ms-linear-gradient(top, #1483c3 0%, #04659c 100%);
  background-image: linear-gradient(to bottom, #1483c3 0%, #04659c 100%);
    box-shadow: inset 0 0 0 1px #04659c;
}

/* black: other */
.required-tags .category-other {
  background: #000;
  background-image: -moz-linear-gradient(top, #555 0%, #000 100%);
  background-image: -webkit-linear-gradient(top, #555 0%, #000 100%);
  background-image: -o-linear-gradient(top, #555 0%, #000 100%);
  background-image: -ms-linear-gradient(top, #555 0%, #000 100%);
  background-image: linear-gradient(to bottom, #555 0%, #000 100%);
    box-shadow: inset 0 0 0 1px #000;
}

.required-tags .rating-general-audience:after {
  background-image: url("/images/rating-general-audience-georgia.svg");
}

.required-tags .rating-teen:after {
  background-image: url("/images/rating-teen-georgia.svg");
}

.required-tags .rating-mature:after {
  background-image: url("/images/rating-mature-georgia.svg");
}

.required-tags .rating-explicit:after {
  background-image: url("/images/rating-explicit-georgia.svg");
}

.required-tags .warning-choosenotto:after {
  background-image: url("/images/warning-choosenotto.svg");
}

.required-tags .warning-yes:after {
  background-image: url("/images/warning-yes.svg");
}

.required-tags .category-gen:after {
  background-image: url("/images/category-gen.svg");
}

.required-tags .category-het:after {
  background-image: url("/images/category-het.svg");
}

.required-tags .category-slash:after {
  background-image: url("/images/category-slash.svg");
}

.required-tags .category-femslash:after {
  background-image: url("/images/category-femslash.svg");
}

.required-tags .category-other:after {
  background-image: url("/images/category-other.svg");
}

.required-tags .category-multi:after {
  background-image: url("/images/category-multi.svg");
}

.required-tags .complete-no:after {
  background-image: url("/images/complete-no.svg");
}

.required-tags .complete-yes:after {
  background-image: url("/images/complete-yes.svg");
}

.required-tags .external-work:after {
  content: "\2388";
}

.bookmark .status .rec:after {
  content: "\2764";
}

.bookmark .status .private:after {
  content: "\2117";
}

.bookmark .status .public:after {
  content: "\25E5";
}

.bookmark .status .count a {
  color: #069;
}

.bookmark .status .count a:hover, .bookmark .status .count a:focus {
  color: #111;
}

/*==END icon block rules==*/

.blurb .datetime {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

.claim .datetime {
  position: static;
}

.blurb blockquote {
  clear: none;
  margin: 0.643em auto;
  text-align: justify;
}

/*modification: PICTURE 
use this along with "index" and "blurb" for indices where we have icon pictures,
eg collections, users, skins, instead of the 4-icon list
*/

.picture .header {
  border-bottom: 1px solid #ccc;
}

.index .skins .icon {
  background: url("/images/imageset.png") 0px -580px;
}

.index .mystery .icon {
  background: url("/images/imageset.png") -110px -525px;
}

.index .tag .icon, .index .tagset .icon {
  background: url("/images/imageset.png") -55px -580px;
}

.picture .icon img, .index .picture .icon {
  position: absolute;
  top: 0;
  height: 55px;
  width: 55px;
  background-repeat: no-repeat;
}

/*various little mods*/

.collection .name {
    word-wrap: break-word;
}

.prompt h6 {
  float: left;
  min-width: 65px;
}

/* mod: ITEM
blurbs on the manage collection items pages, mostly reseting styles inherited from interactions (forms)
*/

.item .blurb blockquote, .item dl.stats {
  margin: 0.643em auto;
  padding: 0;
  border: none;
  background: transparent;
    box-shadow: none;
}

.item .blurb .header, .item dl.stats dt {
  border: none;
}

.item dl.visibility {
  background: #eee;
}

/* mod: BOOKMARK */

.bookmark p.status {
  position: absolute;
  right: 0.25em;
  width: 60px;
  margin-top: 0.429em;
  z-index: 1;
}

.bookmark .status span, .bookmark .status a {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.bookmark .status a:focus {
  overflow: hidden;
}

.bookmark span.count {
  line-height: 1.875em;
  position: absolute;
  top: 0;
  left: 28px;
  text-align: center;
}

.bookmark .count a {
  border-bottom: none;
  color: #069;
}

.bookmark .count a:hover, .bookmark .count a:focus {
  color: #111;
}

.bookmark .datetime {
	top: 28px;
}

.bookmark .user {
  border: 1px solid #ccc;
  clear: right;
  margin-top: 0.643em;
  overflow: hidden;
}

.bookmark .user .meta {
	display: inline;
	font-family: Georgia, serif;
	font-size: 0.875em;
	line-height: 2;
}

.bookmark .actions {
  clear: both;
}

/* line break between types of meta */
.bookmark .user ul.meta:after {
	content: '\A';
	white-space: pre;
}

.bookmark .short .header {
	min-height: 30px;
}

.bookmark .user .datetime, .bookmark .work .datetime {
  top: 0;
}

.bookmark .short .status {
	left: 30px;
	margin-top: 0;
	top: 0;
	width: 25px;
}

.bookmark .dynamic {
	position: static;
}

.bookmark .recent .index {
    width: 100%;
}

/* mod: READING */

.reading .user { 
  float: left;
}

.reading h4.viewed {
  background: #ddd;
}

.reading .deleted h4.viewed {
  background: transparent;
}

/* mod: SKIN */

.skin .blurb .header p {
  margin-left: 65px;
}

/*END== */